.users {
    display: grid;
    grid-template-areas:
        "photo personal location"
        "follow status  location"
    ;

}

.photo {
    grid-area: photo;
    border-radius: 50px;
    width: 70px;
    height: 70px;
    border: 1px solid blue;
}

.follow_btn {
    grid-area: follow;
}

.name {
    grid-area: personal;
}

.status {
    grid-area: status;
}

.selectedItem {
    font-weight: bold;
}

.pageItem {
    cursor: pointer;
    display: inline-block;
    margin: 0 3px;
}

.page {
    width: 100%;
    text-align: center;
    margin: 20px auto;
}