.item {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-left: 10px;
    height: 100px;
    width: 250px;
    background-color: rgb(229, 229, 229);
    border-radius: 10px;
}

.item img {
    width: 30px;
    border-radius: 30px;
}

.myPost {
    margin-left: 150px;
}