.container {
    display: grid;
    grid-template-columns: 2fr 8fr;
    height: 100vh;
    padding: 20px;
}

.dialogs {
    min-width: 200px;
    margin-top: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.message_container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* border: 1px solid rgb(212, 212, 212); */
    border-radius: 20px;
}

.messageContent_container {
    padding-left: 10px;
    overflow: scroll;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    height: 80%;
    width: 97%;
    padding: 10px;
    border-radius: 20px;
}